.app-main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background: #deefff;
}

.app-side-bar {
  display: flex;
  height: 100%;
  width: 35%;
  padding: 16px;
  max-width: 400px;
  padding: 12px;
  flex-direction: column;
  overflow: auto;
  transition: 0.5s ease-in-out;
}

.app-map-container {
  width: 100%;
  height: 100%;
  background: #deefff;
}

.app-close-main-mobile{
    display: none;
}

.app-show-side-bar {
    display: none
}



/*=============================================
=            Mobile definitions            =
=============================================*/
@media only screen and (max-width: 600px) {
  .app-side-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    max-width: 100%;
    padding: 16px;
  }

  .app-close-main-mobile {
    position: absolute;
    top: 31px;
    left: 36px;
    display: block;
    z-index: 999;
  }  

  .app-side-bar.hidden-side-bar {
    transform: translateY(150%);
  }

  .app-show-side-bar {
    position: fixed;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    left: 0%;
    display: flex;
    transition: .500s ease-in-out;
  }

  .app-show-side-bar.hidden {
    transform: translateY(150%);
  }

  .app-steps {
    min-height: 300px;
  }
}

/*=====  End of Mobile definitions  ======*/
